    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>0. I'm a guy who loves tech, who's used Linux since 2012, I've been a community manager to UBports, and carry around my PinePhone, I've got my own Ghost blogging server and my own mumble server, along with this website where I've used GitHub pages to make, I've even created basic cli applications using SQL and Rust. </p>
                <p>1. I have a huge interest in different cultures, mythology and languages, I have writain about Mythology and it's links to culture, I try to understand mythology and how it has helped people understand the world, or try to understand the lessons that mythology has tried to teach people from that culture.</a></p>
            </div>
        </div>
    </section>
