    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>About Me</h3>
                <h2>Rising Tides</h2>
                <p> I'm an extrovert, who believes in the power of the community, I passionately believe that "A rising tide lifts all boats", empowering each other, and enabling kids to take part in their passions, we should be lowering the barrier of entry and closing the digital divide, providing the poor with empowering tools, and a strong education, allowing those who might not be able to afford the latest hardware, proprietary software, or a place in further education, an ability to have their skills realized, and a drive to a more open future, where even the poorest kids, can have hands on experience with projects well beyond them, and can contribute to the world around them. </p>
                <h2>Techie</h2>
                <p>I love tech, I've used Linux since 2012, I've been a community manager to UBports, I carry around my PinePhone, and host my own servers on linode, featuring a Ghost blog, a Gopher, Matrix and a ansible playbook server, I've also tried my hand at basic cli applications using SQL and Rust, and blog about my experiences with software and hardware like Ansible and the PinePhone. </p>
                <h2>Mythology</h2>
                <p>I have a huge interest in different cultures, mythology and languages, I have written about Mythology and it's links to culture, I try to understand mythology and how it has helped people understand the world, or try to understand the lessons that mythology has tried to teach people from that culture, I wish to blog about Gods and Goddesses that existed before us, and I always hold Bastet quite close.</a></p>
                <h2>Art and Mental Health</h2>
                <p>Art can set you free, I am a strong believer in combining art with mental health for a multitude of reasons, one reason is to show the world to those who do not suffer, how one with a mental health issue would see the world, or perhaps even more importantly, how they do not. Art offers a way to express those who can't find the words, allows an escape, and is a space to allow for real navigation of a world that may never see the light in word alone, especially if the one suffering struggles with language. Art can help those suffering navigate the world around them better. </p>
            </div>
        </div>
    </section>
