    <!-- Download Section -->
    <section id="hobby" class="content-section text-left">
        <div class="hobby-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Hobby Links</h2>
                    <p>I have many hobbys and heres some links to some of the important ones, Ghost is my blog post where I blog about anything that I find really important, or just general interests, my Dev.to is another blog website, however this is specifically for blogs related to computers, be that admin, development, or hardware tweaks.</p>
                    <ul class="list-inline banner-social-buttons">
<!--                     <a href="https://github.com/PhoenixLandPirate" class="btn btn-default btn-lg">Github</a> -->
                    <a href="https://ailuroflame.com" class="btn btn-default btn-lg">Ghost</a>
                    <a href="https://dev.to/phoenixlandpirate" class="btn btn-default btn-lg">Dev.to</a>
                    <a href="https://redcircle.com/shows/phoenix-phones" class="btn btn-default btn-lg">Podcast</a>
                    </ul>
                    <u2 class="list-inline banner-social-buttons">
<!--                    <a href="" class="btn btn-default btn-lg">Podcast</a>-->
                    </u2>
                </div>
            </div>
        </div>
    </section>
