    <!-- Download Section -->
    <section id="hobby" class="content-section text-left">
        <div class="hobby-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="forground">
                    <h3>Hobby Links</h3>
                    <p>
                    I have many hobbies that I enjoy participating in, this is where some of the links to those hobbies reside.
                    </p>
                    <p> Ghost is my personal blog website, this is where I blog about Mythology, Art and Mental Health, a few Tech things and there relativity to morality, and the such, basically more general write-ups of what I think/find important. </p>
                    <p> Dev.to is another blog website, however this is specifically for blogs related to computers, admin work, development, etc, it's less about concepts, and idea's, and more about the practical side of tech. </p>
                    <p> redcircle is where my podcast is hosted, currently the podcast is focused on talking to those in the tech industry, specifically those who are working in/on mobile operating systems, however I do hope to branch out to talk about a whole variety of different subjects and interests over time </p>
                    <u1 class="list-inline banner-social-buttons">
                        <button class="cybr-btn" onclick="window.location.href='https://ailuroflame.com';" >
                            Ghost<span aria-hidden="true">_</span>
                            <span aria-hidden="true" class="cybr-btn__tag">Personal Blog</span>
                        </button>
                        <button class="cybr-btn" onclick="window.location.href='https://dev.to/phoenixlandpirate';" >
                           Dev.to<span aria-hidden="true">_</span>
                            <span aria-hidden="true" class="cybr-btn__tag">Development Blog</span>
                        </button>
                        <button class="cybr-btn" onclick="window.location.href='https://redcircle.com/shows/phoenix-phones';">
                            redcircle<span aria-hidden="true">_</span>
                            <span aria-hidden="true" class="cybr-btn__tag">Tech Podcast</span>
                        </button>
                    </u1>
                    <u2 class="list-inline banner-social-buttons">
                    </u2>
                    </div>
                </div>
            </div>
        </div>
    </section>
