    <!-- Download Section -->
    <section id="hobby" class="content-section text-center">
        <div class="hobby-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Hobby Links</h2>
                    <p>I have many hobbys and here's some links to some of the thing's that I care about.</p>
                    <ul class="list-inline banner-social-buttons">
                    <a href="https://github.com/PhoenixLandPirate" class="btn btn-default btn-lg">Github</a>
                    <a href="https://www.ailuroflame.com" class="btn btn-default btn-lg">Ghost</a>
                    <a href="https://dev.to/phoenixlandpirate" class="btn btn-default btn-lg">Dev.to</a>
                    </ul>
                    <u2 class="list-inline banner-social-buttons">
<!--                    <a href="" class="btn btn-default btn-lg">Podcast</a>-->
                    </u2>
                </div>
            </div>
        </div>
    </section>
